@use "../../assets/scss/variables.scss" as variables;
@use "../../assets/scss/viewport.scss" as viewport;

.panel{
    box-shadow: 0 7px 15px variables.$box-shadow-color;
    z-index: variables.$z-index-2;
    
    &.offcanvas-bottom{
        border-top-left-radius: variables.$border-radius-3;
        border-top-right-radius: variables.$border-radius-3;
        @include viewport.custom-media-breakpoint-down(lg){
            border-bottom-right-radius: 0!important;
            border-bottom-left-radius: 0!important;

        }
    }

    &__header{
        &__line{
            max-width: 2rem;
            max-height: 1.5rem;
        }
    }

    &__photo{
        min-height: 10rem;
        >img{
            max-height: 15rem;
            @include viewport.custom-media-breakpoint-down(md){
                max-height: 10rem;
            }
            // border-radius: variables.$border-radius-1;
        }   
    }

    &__body{
        p{
            max-height: 40dvh;
            overflow-y: auto;
            @include viewport.custom-media-breakpoint-down(md){
                max-height: 15dvh;
            }
        }
    }

 

 
      
}