@use "./variables" as variables;

// ---- inputs ----

input[type="checkbox"] {
    cursor: pointer;
}
  
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="switch"]:focus,
input[type="email"]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: variables.$black-5;
    background-color: transparent;

}
  
input[type="checkbox"].form-check-input {
    border-color: variables.$black-5;
    &:checked {
        border-color: variables.$black-5;
    }
  }
  
input[type="text"],
input[type="username"],
input[type="password"],
input[type="number"],
input[type="email"]{
    border-top-left-radius: variables.$border-radius-3;
    border-top-right-radius: variables.$border-radius-3;
    border-bottom-right-radius: variables.$border-radius-3;
    border-bottom-left-radius: variables.$border-radius-3;
    border-color: variables.$black-4;

    font-size: 12px;
    padding: 0.275rem 0.75rem;
    background-color: transparent;
    color: variables.$pure-white!important;
}
  
::placeholder{
    font-size: 12px!important;
    letter-spacing: 0.156px;
    color: variables.$pure-gray;
    color: variables.$black-5!important;
}

textarea:focus,
textarea:active,
textarea:hover {
    box-shadow: none !important;
    background-color: transparent;

}


//scrollbar
::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$pure-gray;
    border-radius: 10px;
    border: 2px solid transparent; /* per spaziatura interna */
    background-clip: padding-box;
}


.offcanvas{
    border:0!important;
}

//buttons
.btn{
    &:focus,&:active{ 
        outline: none!important;
        box-shadow: none!important;
        border: none!important;
    }
}