@use "./variables" as variables;

// ---- inputs ----

input[type="checkbox"] {
    cursor: pointer;
}
  
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="switch"]:focus,
input[type="email"]:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: variables.$black-5;
    background-color: transparent;

}
  
input[type="checkbox"].form-check-input {
    border-color: variables.$black-5;
    &:checked {
        border-color: variables.$black-5;
    }
  }
  
input[type="text"],
input[type="username"],
input[type="password"],
input[type="number"],
input[type="email"]{
    border-top-left-radius: variables.$border-radius-3;
    border-top-right-radius: variables.$border-radius-3;
    border-bottom-right-radius: variables.$border-radius-3;
    border-bottom-left-radius: variables.$border-radius-3;
    border-color: variables.$black-4;

    font-size: 12px;
    padding: 0.275rem 0.75rem;
    background-color: transparent;
    color: variables.$pure-white!important;
}
  
::placeholder{
    font-size: 12px!important;
    letter-spacing: 0.156px;
    color: variables.$pure-gray;
    color: variables.$black-5!important;
}

textarea:focus,
textarea:active,
textarea:hover {
    box-shadow: none !important;
    background-color: transparent;

}


//scrollbar
::-webkit-scrollbar {
    width: 10px!important;
    height: 10px!important;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: variables.$pure-gray;
    border-radius: 10px;
    border: 2px solid transparent; /* per spaziatura interna */
    background-clip: padding-box;
}


.offcanvas{
    border:0!important;
}

//buttons
.btn{
    &:focus,&:active{ 
        outline: none!important;
        box-shadow: none!important;
        border: none!important;
    }
}

//anchor
a{
    color: variables.$pure-white!important;
    text-decoration: none!important;
}

body{
  color: variables.$pure-white!important;
}

.card-drop {
    position: relative;
    border-radius: variables.$border-radius-2;
    padding: 1rem;
    margin-bottom: 2rem;
    color: variables.$pure-white;
    backdrop-filter: blur(500px);
    background: none;
    z-index: 1;
    transition: all 0.3s ease-in-out;
  
    // Remove actual border
    border: none;
  
    // Create gradient border using pseudo-element
    &::before {
      content: '';
      position: absolute;
      inset: 0;
      padding: 1px; // Thickness of the border
      border-radius: inherit;
      background: linear-gradient(135deg, variables.$black-2, variables.$tertiary-color);
      -webkit-mask: 
        linear-gradient(variables.$black-2 0 0) content-box, 
        linear-gradient(variables.$black-2 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      z-index: -1;
    }
  }
  