@use "./variables.scss" as variables;


// img sizes
.l-img{
    max-width: 8.5rem;
    max-height: 8.5rem;
}

.m-img{
    max-width: 5.5rem;
    max-height: 5.5rem;
}

.s-img{
    max-width: 3.5rem;
    max-height: 3.5rem;
}

.xs-img{
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.xxs-img{
    max-width: 1rem;
    max-height: 1rem;
}


// font Size
.font-size-8{
    font-size: 8px;
}
.font-size-10{
    font-size: 10px;
}
.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}

.font-size-24{
    font-size: 24px;
}
.font-size-26{
    font-size: 26px;
}

.font-size-28{
    font-size: 28px;
}

.font-size-32{
    font-size: 32px;

}



.font-size-36{
    font-size: 36px;
}


.text-distance-1{
    letter-spacing: 7px!important;
}



// box shadows
.box-shadow{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-start{
    box-shadow: -7px 0 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-end{
    box-shadow: 7px 0 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-top{
    box-shadow: 0 -7px 15px rgba(0, 0, 0, 0.3);
}

.box-shadow-bottom{
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.3);
}


// disabled elements
.disabled-element {
    pointer-events: none !important;
    opacity: 0.4 !important;
    // background-color: variables.$pure-gray !important;
}


// image fade effect and loader
.fade-in {
    opacity: 0;
    transition: opacity 0.4s ease;
}
.fade-in.loaded {
    opacity: 1;
}


// load overrlay
.loader-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: variables.$pure-white;
    z-index: 1;
    pointer-events: none;
}
img.loaded + .loader-overlay {
    display: none;
}

// text disposition styles
.vertical-text {
    writing-mode: vertical-rl; 
    text-orientation: upright;
}
.vertical-text-reverse {
    writing-mode: vertical-rl; 
    text-orientation: upright;
    transform: rotate(180deg);
}
.vertical-text-reverse-rtl {
    writing-mode: vertical-rl; 
    text-orientation: upright;
    transform: rotate(180deg);
    direction: rtl;
}

.diagonal-text {
    transform: rotate(-25deg);
    transform-origin: left top;
    display: inline-block;
}

// cursors styles
.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.cursor-grabbing {
    cursor: grabbing;
}

.cursor-grab {
    cursor: grab;
}

.cursor-move {
    cursor: move;
}

.cursor-text {
    cursor: text;
}

.cursor-crosshair {
    cursor: crosshair;
}


// borders
.border-black-1{
    border: 1px solid variables.$black-1!important;
}
.border-black-2{
    border: 1px solid variables.$black-2!important;
}
.border-black-3{
    border: 1px solid variables.$black-3!important;
}
.border-black-4{
    border: 1px solid variables.$black-4!important;
}

.border-color-primary{
    border: 1px solid variables.$primary-color!important;
}

.border-bottom-color-primary{
    border-bottom: 1px solid variables.$primary-color!important;
}


// colors
.color-black-1{
    color: variables.$black-1!important;
}

.color-black-2{
    color: variables.$black-2!important;
}

.color-black-3{
    color: variables.$black-3!important;
}

.color-black-4{
    color: variables.$black-4!important;
}

.color-black-5{
    color: variables.$black-5!important;
}

.color-pure-gray{
    color: variables.$pure-gray!important;
}

.color-primary{
    color: variables.$primary-color!important;
}

.color-secondary{
    color: variables.$secondary-color!important;
}

.color-tertiary{
    color: variables.$tertiary-color!important;
}


// background colors

.bg-black-1{
    background-color: variables.$black-1!important;
}

.bg-black-2{
    background-color: variables.$black-2!important;
}

.bg-black-3{
    background-color: variables.$black-3!important;
}

.bg-black-4{
    background-color: variables.$black-4!important;
}

.bg-color-pure-gray{
    background-color: variables.$pure-gray!important;
}

.bg-color-pure-white{
    background-color: variables.$pure-white!important;
}

.bg-color-pure-red{
    background-color: variables.$pure-red!important;
}

.bg-color-pure-green{
    background-color: variables.$pure-green!important;
}
.bg-black-gradient {
    background: 
    linear-gradient(320deg, variables.$black-2, variables.$pure-black);
    position: relative;
    backdrop-filter: blur(1000px);
    z-index: 1;
    // &::before {
    //   content: '';
    //   position: absolute;
    //   inset: 0;
    //   padding: 1px; // Thickness of the border
    //   border-radius: inherit;
    //   background: linear-gradient(270deg, variables.$black-1, variables.$secondary-color);
    //   -webkit-mask: 
    //     linear-gradient(variables.$black-2 0 0) content-box, 
    //     linear-gradient(variables.$black-2 0 0);
    //   -webkit-mask-composite: xor;
    //   mask-composite: exclude;
    //   pointer-events: none;
    //   z-index: -1;
    // }
}


.bg-gray-gradient {
    background: 
    linear-gradient(45deg, variables.$black-1, variables.$black-2);
}
  
// width

.w-10{
    width: 10%; 
}

.w-h20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width: 80%;
}

.w-90{
    width: 90%;
}

.w-94{
    width: 94%;
}

// height
.h-10{
    height: 10%; 
}

.h-h20{
    height: 20%;
}

.h-30{
    height: 30%;
}

.h-40{
    height: 40%;
}

.h-60{
    height: 60%;
}

.h-70{
    height: 70%;
}

.h-80{
    height: 80%;
}

.h-90{
    height: 90%;
}


.hvh-10{
    height: 10vh; 
}
.hvh-20{
    height: 20vh;
}
.hvh-30{
    height: 30vh;
}
.hvh-40{
    height: 40vh;
}
.hvh-50{
    height: 50vh;
}
.hvh-60{
    height: 60vh;
}
.hvh-70{
    height: 70vh;
}
.hvh-80{
    height: 80vh;
}
.hvh-90{
    height: 90vh;
}
.hvh-100{
    height: 100vh;
}


.rounded-0{
    border-radius: 0!important;
}
.rounded-1{
    border-radius: 0.5rem!important;
}
.rounded-2{
    border-radius: 1rem!important;
}

.rounded-3{
    border-radius: 1.5rem!important;
}

.rounded-4{
    border-radius: 2rem!important;
}

.rounded-5{
    border-radius: 2.5rem!important;
}


.bg-primary-color{
    background-color: variables.$primary-color!important;
}

.bg-primary-color-gradient {
    background: 
    linear-gradient(45deg, variables.$primary-color, variables.$pure-black); 
}

.color-bash{
    color: variables.$pure-bash!important;
}


.backdrop-blur-5{
    backdrop-filter: blur(5px);
}

.backdrop-blur-10{
    backdrop-filter: blur(10px);
}

.backdrop-blur-20{
    backdrop-filter: blur(20px);
}

.backdrop-blur-30{
    backdrop-filter: blur(30px);
}

.backdrop-blur-40{
    backdrop-filter: blur(40px);
}

.backdrop-blur-50{
    backdrop-filter: blur(50px);
}

.backdrop-blur-60{
    backdrop-filter: blur(60px);
}

.backdrop-blur-70{
    backdrop-filter: blur(70px);
}

.backdrop-blur-80{
    backdrop-filter: blur(80px);
}

.backdrop-blur-90{
    backdrop-filter: blur(90px);
}

.backdrop-blur-100{
    backdrop-filter: blur(100px);
}


.border-gradient {
    position: relative;
    z-index: 1;
    &.left{
        // border-left: 1px solid variables.$black-2;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 1px; // Thickness of the border
          border-radius: inherit;
          background: linear-gradient(270deg, variables.$tertiary-color, transparent);
          -webkit-mask: 
            linear-gradient(variables.$black-2 0 0) content-box, 
            linear-gradient(variables.$black-2 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
          z-index: -1;
        }
    }

    &.right{
        // border-left: 1px solid variables.$black-2;
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          padding: 1px; // Thickness of the border
          border-radius: inherit;
          background: linear-gradient(270deg, transparent,  variables.$tertiary-color,);
          -webkit-mask: 
            linear-gradient(variables.$black-2 0 0) content-box, 
            linear-gradient(variables.$black-2 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          pointer-events: none;
          z-index: -1;
        }
    }

   
}
