$metro-b: #0071bb;
$metro-a: #f36c21;
$metro-b1: #0071bb;
$metro-c: #008751;

// base colors
$pure-gray : #808080;
$pure-red : #ff0000;
$pure-green : #00ff00;
$pure-blue : #0000ff;
$pure-yellow : #ffff00;
$pure-brown : #1f1717;

// dark colors
$dark-gray : #333333;
$dark-red : #e60000;

// primary colors
$pure-white : #ffffff;
$pure-black : #000000;

// shades of black hex
$black-1 : #000000;
$black-2 : #1a1a1a;
$black-3 : #333333;
$black-4 : #444444;
$black-5 : #a3a3a3;

// box shadow color
$box-shadow-color : rgba(87, 86, 86, 0.3);

// z-index
$z-index-0 : 0;
$z-index-1 : 100;
$z-index-2 : 200;
$z-index-3 : 300;
$z-index-4 : 400;
$z-index-5 : 500;
$z-index-max : 9999;

// border radius
$border-radius-1 : 0.5rem;
$border-radius-2 : 1rem;
$border-radius-3 : 1.5rem;
$border-radius-4 : 2rem;

