@use "../../assets/scss/variables.scss" as variables;
@use "../../assets/scss/viewport.scss" as viewport;

.dashboard{
    height: 100dvh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), 
    url("../../assets/images/utils/graph-bg.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__header{
        top: 1rem;
        right: 1rem;
        @include viewport.custom-media-breakpoint-down(md){
            top: 5rem;
        }

        z-index: 100;
        >img {
            &.disabled-metro{
                filter: grayscale(100%);
            }
            max-width: 3rem;
            max-height: 2.5rem;
            @include viewport.custom-media-breakpoint-down(md){
                max-width: 2.5rem;
                max-height: 1.5rem;
            }
        }
    }

  
}