@use "../../assets/scss/variables.scss" as variables;

.content-list{
    &__item{
        border-radius: 100%;
        border: 2px solid variables.$pure-white;
        box-shadow: 0 0 10px variables.$primary-color;

        // width: 7rem;
        // height: 7rem;
        img{
            width: 2.5rem;
            height: 2.5rem;
        }
    }
}