@use "../../assets/scss/viewport.scss" as viewport;
@use "../../assets/scss/variables.scss" as variables;


.home{
    // height: 100dvh;
    // background: linear-gradient(variables.$black-1,variables.$secondary-color, );
    // background: variables.$black-1;
 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    section{
        padding: 7rem  4rem;
        @include viewport.custom-media-breakpoint-down(lg) {
            padding: 6rem 2rem;
        }
    }
    &__introduction{
       &__stacks{
        margin: 12rem 0;
       }
    }
}