@use "../../assets/scss/viewport.scss" as viewport;
@use "../../assets/scss/mixin.scss" as mixin;
@use "../../assets/scss/variables.scss" as variables;


@keyframes fadeSlideDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.home{
    section{
        padding: 8rem  4rem;
        @include viewport.custom-media-breakpoint-down(lg) {
            padding: 6rem 1.5rem;
        }
    }
    &__introduction{
       &__stacks{
            margin: 12rem 0;
            @include viewport.custom-media-breakpoint-down(md) {
                margin: 1rem 0;
            }
       }
    }

    &__about{

        &__infinite,&__list{
            height: 300px;
        }
        

        
        &__list{
            @include mixin.grid-system(4rem, 1rem, 16px, 0.1fr);
            justify-content: center;

            @include viewport.custom-media-breakpoint-down(md) {
                height: 200px;
                margin-bottom: 5rem!important;
                @include mixin.grid-system(3rem, 1rem, 16px, 0.1fr);

            }

            li{
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1px;
                    border-radius: 0 0 inherit inherit;
                    background: linear-gradient(270deg, transparent, variables.$tertiary-color, transparent);
                    pointer-events: none;
                    z-index: -1;
                }
                &.active{
                    background: 
                    linear-gradient(45deg, variables.$primary-color, variables.$pure-black); 
                }
            }
        }
    }


    &__projects{
        .row{

            gap: 8rem!important;
        }
        &__view{
            &__active{
                &__content{
                    animation: fadeSlideDown 0.5s ease-out;
                }
            }
            .description{ 
                p,a{
                    font-size: 14px;
                    max-height: 40dvh;
                    overflow-y: auto;
                    @include viewport.custom-media-breakpoint-down(md) {
                        font-size: 12px;
                        max-height: 30dvh;
                        overflow-y: auto;
                    }
                }
            }
        }
    }
}

