@use "../../assets/scss/variables.scss" as variables;
.header {
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: variables.$z-index-max;
    // Rimuovi il border-bottom originale
    // border-bottom: 1px solid variables.$primary-color;
  
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 5%;
      width: 90%; // oppure 80% se lo vuoi più corto
      border-bottom: 1px solid variables.$primary-color;
    }
  }
  