@use "../../assets/scss/variables.scss" as variables;
.header {
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: variables.$z-index-max;
  
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px; // Thickness of the border
      border-radius: 0 0 inherit inherit;
      background: linear-gradient(270deg, transparent, variables.$tertiary-color, transparent);
      pointer-events: none;
      z-index: -1;
    }
  }
  