@use "../../assets/scss/variables.scss" as variables;
@use "../../assets/scss/viewport.scss" as viewport;


.content-detail{
    padding: 6rem 4rem ;
    @include viewport.custom-media-breakpoint-down(lg) {
        padding: 6rem 1rem;
    }
    &__bubble{
        border: 2px solid variables.$pure-white;
        box-shadow: 0 0 10px variables.$primary-color;
        border-radius: 100%;
        width: 18rem;
        height: 18rem;
        position: relative;
        img{
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15rem;
            height: 22rem;
            // border-radius: 100%;
        }
    }
}