.content-detail{
    padding: 6rem 4rem ;
    &__bubble{
        border: 2px solid white;
        box-shadow: 0 0 10px rgb(55 169 159);
        border-radius: 100%;
        width: 18rem;
        height: 18rem;
        position: relative;
        img{
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 15rem;
            height: 22rem;
            // border-radius: 100%;
        }
    }
}