@use "../../assets/scss/variables.scss" as variables;
@use "../../assets/scss/viewport.scss" as viewport;


.content-detail{
    padding: 4rem 2rem ;
    @include viewport.custom-media-breakpoint-down(lg) {
        padding: 2rem 1rem;
    }
    &__bubble{
        border-radius: 100%;
        width: 12rem;
        height: 12rem;
        position: relative;
        img{
            position: absolute;
            top: 33%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 10rem;
        }
    }

    &__description{
        @include viewport.custom-media-breakpoint-down(lg) {
           max-height: 20dvh;
           overflow-y: auto;
        }
    }

}